body{
  margin: 0px;
  cursor: grab;
}

#cesium{
  width: 100vw;
  height: 100vh;
  z-index: 43;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: move;
}

#legend{
  padding: 10px;
  margin: 1vw;
  position: absolute;
  z-index: 73;
  background-color: rgba(142, 142, 142, 0.77);
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
  list-style: none;
  cursor: auto;
}

.row{
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.description{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dataset{
  margin: 10px;
  font-weight: bold;
}

.style{
  width: 55px;
  height: 26px;
  box-shadow: 3px 3px 3px grey;
}

#wrapper{
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  z-index: 77;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.77);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;
}

#style-form{
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-style: ridge;
  border-color: black;
  border-width: 2px;
  display: flex;
  flex-direction: column;
}

.style-input{
  display: flex;
  flex-direction: row;
}

.colomn{
  width: 164px;
  height: 195px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section, h2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

.form-item{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}
